body {
    background-color: lightblue;
}

body {
    background-color: lightblue;
}
h1 {
    text-align: center;
}


.container {
    display: block;
    margin: 0 auto;

}

.food {
    width:auto;
    margin: 0 auto;
    display: block;
}